<% item = Item.find(params[:id]) %>

<div class="container">
  <h1>Item:<%= item.name %></h1>
  <div>
    <% item.getSales.each_with_index do |s,ind| %>
      Sale <%= " #{ind}: #{s[:price]} gold on #{s[:date]}" %>
    <% end %>
  </div>
</div>